<!DOCTYPE html>
<html ng-app="Channel" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<!-- CSS -->
		<!-- lib -->
		<link href="assets/lib/core/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<link href="assets/lib/core/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- app -->		
		<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

	<!-- /CSS -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

	<!-- HEADER -->
	<site-header></site-header>
	<!-- /HEADER -->
	
	<!-- MAIN -->
	<section layout="row"  class="container edit-item-view" ng-controller="ItemsCtrl">
		
		<!-- loading -->
		<div layout="column" ng-show="loading" flex>
			<div layout="column" flex="100" style="text-align:center;"><b ng-bind="msg"></b></div>
			<div layout="row" flex="100" layout-align="space-around">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
		</div>
		<!-- /loading -->

		<!-- create item section -->
	    <md-content flex id="upload-section" ng-hide="loading" create-item ng-init="init()">

	    	<!-- upload dropzone -->
	    	<file-upload ng-hide="item.file"></file-upload>
			<!-- /upload dropzone -->

		    <!-- upload section -->
			<section class="upload-container" flex layout="row" ng-show="item.file">
				<!-- item sidebar -->
				<side-bar></side-bar>
				<!-- /item sidebar -->
				<!-- item main -->
				<section flex="70" layout="column" class="item-main" style="position: relative;" id="item-upload-form" layout-padding>
            		<!-- game interface -->
            		<game-interface ng-if="item.media_type === 'game'"></game-interface>
            		<!-- /game interface -->
            		<!-- video interface -->
            		<video-interface ng-if="item.media_type === 'video'"></video-interface>
            		<!-- /video interface -->
		            <md-button flex="100" style="margin: 16px 0;" class="md-primary md-raised edgePadding pull-right" ng-click="uploadItem()">
		            	<label>Upload {{item.media_type}}</label>
		            </md-button>
				</section>
				<!-- /item main -->
			</section>
			<!-- /upload section -->

	    </md-content>
	    <!-- /create item section -->

	</section>
	<!-- /MAIN -->

	<!-- JS -->

		<!-- zeronet -->
		<script type="text/javascript" src="assets/lib/core/zeronet/class.js"></script>
		<script type="text/javascript" src="assets/lib/core/zeronet/zeroframe.js"></script>
		<script type="text/javascript" src="assets/lib/core/zeronet/zerochat.js"></script>


		<!-- jquery -->
		<script type="text/javascript" src="assets/lib/core/jquery/jquery.min.js"></script>

		<!-- angular -->
		<script type="text/javascript" src="assets/lib/core/angular/angular.min.js"></script>
	    <script type="text/javascript" src="assets/lib/core/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="assets/lib/core/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="assets/lib/core/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="assets/lib/core/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="assets/lib/core/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="assets/lib/core/dropzone/dropzone.js"></script>
		<script type="text/javascript" src="assets/lib/core/moment/moment.js"></script>
		<script type="text/javascript" src="assets/lib/core/angular-moment/angular-moment.min.js"></script>

		<!-- dosbox - for dos games -->
		<script type="text/javascript" src="assets/lib/games/js-dos/js-dos.js"></script>

		<!-- jszip - reading zip files -->
		<script type="text/javascript" src="assets/lib/games/jszip/dist/jszip.min.js"></script>
		<script type="text/javascript" src="assets/lib/games/jszip/dist/jszip.utils.js"></script>

		<!-- nesbox -->
		<script src="assets/lib/games/nes/lib/dynamicaudio-min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/nes.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/utils.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/cpu.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/keyboard.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/mappers.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/papu.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/ppu.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/rom.js" type="text/javascript" charset="utf-8"></script>
	    <script src="assets/lib/games/nes/ui.js" type="text/javascript" charset="utf-8"></script>

		
		<!-- videogular -->
		<script type="text/javascript" src="assets/lib/videos/videogular/videogular.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-controls/vg-controls.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-buffering/vg-buffering.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-overlay-play/vg-overlay-play.js"></script>
		<script type="text/javascript" src="assets/lib/videos/videogular-poster/vg-poster.js"></script>

		<!-- app -->
		<script type="text/javascript" src="app/application.js"></script>		
		<script type="text/javascript" src="app/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="app/core/controllers/items.ctrl.js"></script>
		<script type="text/javascript" src="app/core/directives/site-header.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/my-channel.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/side-bar.directive.js"></script>		
		<script type="text/javascript" src="app/core/directives/create-item.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/file-upload.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/image-upload.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/dropzone.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/item-form.directive.js"></script>
		<script type="text/javascript" src="app/core/filters/file-size.filter.js"></script>

		<!-- app module - games -->
		<script type="text/javascript" src="app/games/directives/game-interface.directive.js"></script>
		<script type="text/javascript" src="app/games/directives/dosbox.directive.js"></script>
		<script type="text/javascript" src="app/games/directives/executable-file-input.directive.js"></script>
		<script type="text/javascript" src="app/games/directives/nes-emulator.directive.js"></script>

		<!-- app module - videos -->
		<script type="text/javascript" src="app/videos/directives/video-interface.directive.js"></script>
		<script type="text/javascript" src="app/videos/directives/video-player.directive.js"></script>

	<!-- /JS -->  

</body>

</html>
